.components-checkbox-control{
  .components-base-control__field{
    align-items: center;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    
    .components-checkbox-control__label{
      margin-bottom: 0;
    }
  }
}